@import '~compass-mixins/lib/compass/css3';
@import url(//fonts.googleapis.com/css?family=Vibur);

// height and width
$max-screen-width: 2160px;

$vapor_wave_violet: #7400b8;
$vapor_wave_purple: #5e60ce;
$vapor_wave_pink: #FF71CE;
$vapor_wave_turqouise: #56cfe1;
$vapor_wave_cyan: #80ffdb;

// phone screen range
$phone-minimum-width: 1px;
$phone-maximum-width: 600px;

// tablet screen range
$tablet-minimum-width: 600px;
$tablet-maximum-width: 1024px;

// laptop screen range
$laptop-minimum-width: 1024px;
$laptop-maximum-width: 1440px;

// desktop screen range
$desktop-minimum-width: 1440px;
$desktop-maximum-width: 2500px;

// large desktop screen range
$xl-desktop-minimum-width: 2500px;
$xl-desktop-maximum-width: 4200px;

@mixin row-flex-box-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin column-flex-box-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin top-navbar-and-content {
  width: calc(100% - 350px);
  height: 100%;
}

@mixin phone-screen {
  @media (min-width: #{$phone-minimum-width}) and (max-width: #{$phone-maximum-width - 1px}) { 
    @content; 
  }
}

@mixin tablet-screen {
  @media (min-width: #{$tablet-minimum-width}) and (max-width: #{$tablet-maximum-width - 1px}) {
    @content; 
  }
}

@mixin laptop-screen {
  @media (min-width: #{$laptop-minimum-width}) and (max-width: #{$laptop-maximum-width - 1px}) {
    @content;
  }
}

@mixin desktop-screen {
  @media (min-width: #{$desktop-minimum-width}) and (max-width: #{$desktop-maximum-width - 1px}) { 
    @content; 
  }
}

@mixin xl-desktop-screen {
  @media (min-width: #{$xl-desktop-minimum-width}) and (max-width: #{$xl-desktop-maximum-width - 1px}) { 
    @content; 
  }
}


// https://dev.to/krantikr/browser-specific-css-for-internet-explorer-firefox-chrome-safari-and-edge-394p#safari

@mixin safari {
  /* Safari 11+ */
  @media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
      @content; 
    }
  }

  /* Safari 10.1 */
  @media not all and (min-resolution:.001dpcm){ 
    @supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {
      @content;
    }
  }
}

.pageWrapper {
    height: 100%;
    width: 100vw;
    max-width: 2160px;
    margin: 0 auto !important; 
    float: none !important; 

    .landingWrapper {
        height: 50vh;
        width: 100%;
        
        background-color: $vapor_wave_purple;
        background-image: linear-gradient( 140deg , $vapor_wave_violet 0%, $vapor_wave_purple 25%, $vapor_wave_pink 60%, $vapor_wave_cyan 70%, $vapor_wave_turqouise 80%);

        @include phone-screen {
            height: 60vh;
        }

        .layerWrapper {
            position: relative;
            height: 100%;
            width: 100%;

            .title {
                width: 100%;
                text-align: center;
                margin: 0;
                z-index: 500;

                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);

                font-family: Roboto;
                font-size: 6rem;
                font-weight: 800;
                color: white;

                @include phone-screen {
                    font-size: 2rem;
                }

                @include tablet-screen {
                    font-size: 4rem;
                }
            }


            .roman {
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                opacity: 0.7;
                height: inherit;

                -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
                -moz-animation: fadein 3s; /* Firefox < 16 */
                -ms-animation: fadein 3s; /* Internet Explorer */
                -o-animation: fadein 3s; /* Opera < 12.1 */
                animation: fadein 3s;
            }

            .subtitle {
                width: 100%;
                text-align: center;
                margin: 0;
                z-index: 500;

                position: absolute;
                top: 65%;
                left: 50%;

                transform: translate(-50%, -50%);

                font-family: Roboto;
                font-size: 4rem;
                font-weight: 100;
                color: white;

                @include phone-screen {
                    font-size: 2rem;
                }

                @include tablet-screen {
                    font-size: 4rem;
                }
            }

            .learnMore {
                position: absolute;
                bottom: 10%;
                left: 50%;

                transform: translate(-50%, -50%);

                font-family: 'Roboto', monospace;
                color: white;
                background-image: linear-gradient( 140deg , $vapor_wave_violet 0%, $vapor_wave_purple 50%);
                font-size: 1.2rem;
                outline: none;
                border: 0;
                border-radius: 12px;
                width: 200px;
                height: 42px;
                box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

                

                @include phone-screen {
                    font-size: 1.2rem;
                    height: 36px;
                    width: 160px;
                }

                @include tablet-screen {
                    font-size: 2rem;
                }
            }
        }
    }

    .aboutWrapper {
        background-color: $vapor_wave_cyan;
        background-image: linear-gradient( 140deg , $vapor_wave_cyan 0%, $vapor_wave_turqouise 70%);

        .buttonWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            
            .learnMore {
                font-family: 'Roboto', monospace;
                color: white;
                background-image: linear-gradient( 140deg , $vapor_wave_violet 0%, $vapor_wave_purple 50%);
                font-size: 1.2rem;
                outline: none;
                border: 0;
                border-radius: 12px;
                width: 200px;
                height: 42px;
                box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

                

                @include phone-screen {
                    font-size: 1.2rem;
                    height: 36px;
                    width: 160px;
                }

                @include tablet-screen {
                    font-size: 1.5rem;
                }
            }
        }

        .spaceCatWrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            .spaceCat {
                margin: 0 10%;
                height: 200px;
               
                @include phone-screen {
                    height: 150px;
                }

                @include tablet-screen {
                    font-size: 250px;
                }

                @include laptop-screen {
                    margin: 0 12.5%;
                } 
                
                @include desktop-screen {
                    margin: 0 15%;
                }
                
                @include xl-desktop-screen {
                    margin: 0 20%;
                }
            }
        }

        .linkWrapper {
            border-top: 4px solid white;
            background-color: #FF71CE;

            height: 100px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            @include phone-screen {
                height: 60px;
            }

            img {
                height: 48px;
                width: 48px;

                @include phone-screen {
                    height: 32px;
                    width: 32px;
                }
            }
        }
        

        .description {
            margin: 0 10%;
            font-family: 'Roboto', monospace;
            font-weight: 600;

            @include laptop-screen {
                margin: 0 12.5%;
            } 
            
            @include desktop-screen {
                margin: 0 15%;
            }
            
            @include xl-desktop-screen {
                margin: 0 20%;
            }

            .title {
                font-size: 2.5rem;

                @include phone-screen {
                    font-size: 1.5rem;
                }
            }
            
            .subtitle {
                font-family: 'Roboto Mono', monospace;
                font-size: 1.8rem;
                font-weight: 800;

                @include phone-screen {
                    font-size: 1.2rem;
                }
            }
        }
    }


    .checkerboardWrapper {
        width: 100%;
        height: 100px;


        @include phone-screen {
            height: 50px;
        }

        border-top: 4px solid white;
        border-bottom: 4px solid white;

        img {
            height: 100%;
            width: 100%;

            object-fit: cover;
        }
    }

    .cloudWrapper {
        // background: #6dd3e7;
        // background-image: linear-gradient( 140deg , $vapor_wave_violet 0%, $vapor_wave_purple 25%, $vapor_wave_pink 70%, $vapor_wave_purple 90%);
        // border-bottom: 4px solid white;

        background-color: $vapor_wave_turqouise;
        background-image: linear-gradient( 140deg , $vapor_wave_violet 0%, $vapor_wave_purple 25%, $vapor_wave_pink 60%, $vapor_wave_cyan 70%, $vapor_wave_turqouise 80%);


        overflow-x: hidden;
        width: 100%;

        .signWrapper {
            position: absolute;
            width: 100%;
            max-width: 2160px;
            height: 250px;

            display: flex;
            align-items: center;
            justify-content: center;

            @include phone-screen {
                height: 250px;
            }


            .sign {
                text-align: center;
                user-select: none;

                z-index: 500
              }
              
              .sign b{
                font: 400 5rem "Vibur";
                color: #fee;
                text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;

                @include phone-screen {
                    font: 400 4rem "Vibur";
                }

              }
              
              .sign b span{
                animation: blink linear infinite 2s;
              }
              .sign b span:nth-of-type(2){
                animation: blink linear infinite 3s;
              }
              @keyframes blink {
                78% {
                  color: inherit;
                  text-shadow: inherit;
                }
                79%{
                   color: #333;
                }
                80% {
                  
                  text-shadow: none;
                }
                81% {
                  color: inherit;
                  text-shadow: inherit;
                }
                82% {
                  color: #333;
                  text-shadow: none;
                }
                83% {
                  color: inherit;
                  text-shadow: inherit;
                }
                92% {
                  color: #333;
                  text-shadow: none;
                }
                93% {
                  color: inherit;
                  text-shadow: inherit;
                }
              }
              
        }
    
        @mixin animation($animation) {
            -webkit-animation: $animation;
            -moz-animation: $animation;
            -ms-animation: $animation;
            -o-animation: $animation;
            animation: $animation;
        }
    
        @mixin animation-duration($duration) {
            -webkit-animation-duration: $duration;
            -moz-animation-duration: $duration;
            -ms-animation-duration: $duration;
            -o-animation-duration: $duration;
            animation-duration: $duration;
        }
    
        @mixin keyframes($name) {
            @-webkit-keyframes #{$name} {
                @content;
            }
            @-moz-keyframes #{$name} {
                @content;
            }
            @-ms-keyframes #{$name} {
                @content;
            }
            @keyframes #{$name} {
                @content;
            }
        }
    
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    
        .cloud {
            @include animation(clouds 60s infinite linear);
            @include border-radius(10px);
            position: relative;
            margin: 33px 0 0 0;
    
            width: 54px;
            height: 5px;
    
            background: #f7e7eb;
    
            &.tiny {
                @include scale(0.5);
            }
    
            &.small {
                @include scale(1);
            }
    
            &.normal {
                @include scale(2);
            }
    
            &.large {
                @include scale(4);
            }
    
            div {
                @include box-shadow(inset -2px -3px 0 0 #f7e7eb);
                position: absolute;
    
                border-radius: 50%;
                width: 12px;
                height: 12px;
    
                left: -3px;
                bottom: 0;
    
                background: #fafbf0;
                z-index: 10;
    
                &:first-child {
                    & + div {
                        @include scale(1.6, 1.6);
                        margin: 0 0 4px 13px;
                        z-index: 9;
    
                        & + div {
                            @include scale(2.4, 2.4);
                            margin: 0 0 9px 32px;
                            z-index: 8;
    
                            & + div {
                                @include scale(1.3, 1.3);
                                margin: 0 0 2px 50px;
                                z-index: 7;
                            }
                        }
                    }
                }
            }
        }
    
        @include keyframes(clouds) {
            0% {
                left: -100%;
            }
    
            100% {
                left: 120%;
            }
        }
    
        .cloud1 {
            @include animation-duration(50s);
            margin-left: 20%;
        }
    
        .cloud2 {
            @include animation-duration(50s);
            margin-left: 90%;
        }
    
        .cloud3 {
            @include animation-duration(70s);
            margin-left: 50%;
        }
    
        .cloud4 {
            @include animation-duration(60s);
            margin-left: 43%;
        }
    
        .cloud5 {
            @include animation-duration(80s);
            margin-left: 83%;
        }
    
        .cloud6 {
            @include animation-duration(70s);
            margin-left: 73%;
        }

        .postWrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 10%;
            padding: 24px 0;
            justify-content: space-between;

            @include phone-screen {
                flex-direction: column;
                flex-wrap: nowrap;
                margin: 0 10%;
            }

            @include tablet-screen {
                flex-direction: column;
                flex-wrap: nowrap;
                margin: 0 10%;
            }

            @include laptop-screen {
                margin: 0 12.5%;
            } 
            
            @include desktop-screen {
                margin: 0 15%;
            }
            
            @include xl-desktop-screen {
                margin: 0 20%;
            }

            a {
                color: black;
                text-decoration: none;
                width: calc(50% - 12px);

                @include phone-screen {
                    width: 100%;
                }

                @include tablet-screen {
                    width: 100%;

                }

                .post {
                    flex: 0 50%;
                    margin-bottom: 5%;
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border-radius: 12px;
                    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
                    img {
                        height: 300px;
                        border-radius: 12px 12px 0 0;
                        object-fit: fill;

                        @include phone-screen {
                            height: 200px;
                        }
                    }

                    .textContainer {
                        margin: 5%;

                        height: 200px;

                        @include tablet-screen {
                            height: 110px;
                        } 

                        @include laptop-screen {
                            height: 150px;
                        } 
                        
                        @include desktop-screen {
                            height: 100px;
                        }
                        
                        @include xl-desktop-screen {
                            height: 100px;
                        }

                        .title {
                            font-family: 'Roboto';
                            font-size: 1.5rem;

                            margin: 0;
                        }
    
                        .subtitle {
                            font-family: 'Roboto Mono', monospace;
                            font-weight: 800;

                            margin: 12px 0 0 0;
                        }
                    }
                }
            }

            
        }
    }

    .mountainWrapper {
        width: 100%;
        height: 200px;

        border-top: 4px solid white;
        border-bottom: 4px solid white;

        @include tablet-screen {
            height: 250px;
        } 

        @include laptop-screen {
            height: 300px;
        } 
        
        @include desktop-screen {
            height: 350px;
        }
        
        @include xl-desktop-screen {
            height: 400px;
        }

        img {
            height: 100%;
            width: 100%;

            object-fit: cover;
        }
    }

    .connectWrapper {
        padding: 24px 0;
        background-color: $vapor_wave_pink;
        background-image: linear-gradient( 140deg , $vapor_wave_pink 0%,  $vapor_wave_purple 80%);

        .description {
            margin: 0 10%;
            font-family: 'Roboto', monospace;
            font-weight: 600;

            @include laptop-screen {
                margin: 0 12.5%;
            } 
            
            @include desktop-screen {
                margin: 0 15%;
            }
            
            @include xl-desktop-screen {
                margin: 0 20%;
            }

            .title {
                margin: 0;
                font-size: 2.5rem;

                @include phone-screen {
                    font-size: 1.5rem;
                }
            }
            
            .subtitle {
                font-family: 'Roboto Mono', monospace;
                font-size: 1.8rem;
                font-weight: 800;

                @include phone-screen {
                    font-size: 1.2rem;
                }
            }

            .emailLink {
                color: white;
                text-decoration: none;
                font-family: 'Roboto Mono', monospace;
                font-size: 1.8rem;
            }
        }
    }

    .footerWrapper {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: black;

        a {
            text-decoration: none;
            p {
                margin: 0;
                color: white;
                font-family: Roboto;
            }
        }
        
    }
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

.sakuraBg {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-image: url('./public/static/assets/icons/sakura-1-1.png'), url('./public/static/assets/icons/sakura-2.png');
     animation: snow 20s linear infinite;
 }
 
 @keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
 }
 
//  @media (max-width: 768px) {
//      .woocommerce ul.products li.product, 
//      .woocommerce-page ul.products li.product, 
//      .woocommerce-page[class*=columns-] ul.products li.product,
//      .woocommerce[class*=columns-] ul.products li.product {
//          width: 100%;
//          float: left;
//          clear: both;
//          margin: 0 7em;
//      }
//  }