@import "mixins";

.pageWrapper {
    height: 100vh;
    width: 100%;

    canvas {display: block;}

    .audio {
        position: fixed;
        bottom:0;
        margin: 8px;
        width: calc(100% - 16px);
        z-index: 99999;
        filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);

        @include phone-screen {
            top: 0;
            width: calc(100% - 12px) !important;
            margin: 6px;
            bottom: unset !important;
        }

        &::-webkit-media-controls-enclosure {
            // border-radius: 5px;
            background-color: white;
        }
    }

    .checkerboardWrapper {
        width: 100%;
        height: 100px;

        @include phone-screen {
            height: 50px;
        }

        border-top: 4px solid white;
        border-bottom: 4px solid white;

        img {
            height: 100%;
            width: 100%;

            object-fit: cover;
        }
    }

    .mountainWrapper {
        width: 100%;
        height: 200px;

        border-top: 4px solid white;
        border-bottom: 4px solid white;

        @include tablet-screen {
            height: 250px;
        } 

        @include laptop-screen {
            height: 300px;
        } 
        
        @include desktop-screen {
            height: 350px;
        }
        
        @include xl-desktop-screen {
            height: 400px;
        }

        img {
            height: 100%;
            width: 100%;

            object-fit: cover;
        }
    }
}